body {
  background: rgb(32, 32, 32);
  padding: 10px;
  color: red;
}

.confirmed {
  color: rgb(250, 250, 75);
}

.recovered {
  color: rgb(47, 255, 64);
}

.critical {
  color: rgb(212, 0, 0);
}

.deaths {
  color: rgb(148, 34, 255);
}

td {
  font-weight: bold;
}
